.row
{
    margin-top: 5px;
}
.imageRow
{
    height: 80px;
}
.mobileRow
{
    height: 40px;
}
.col-one-fifth
{
    width: 20%;
    float: left;
}
.valuecolor
{
    color: blue;
}
.moneycolor
{
    color:green;
}
.largetext
{
    font-size: larger;
}
.errorcolor
{
    color:red;
}
.errorlinecolor
{
    color:darkblue;
}
.sessionid
{
    margin-top: 10px;
}

/* Reduce browser text size when the view is reduced, so that text fits */
@media all and (max-width: 992px)
{
    body
    {
        font-size: 0.85em;
    }
}

/* Mobile views also use a smaller heading size */
@media all and (max-width: 768px)
{
    h2
    {
        font-size: 1.5em;
    }
}
