@import 'tailwindcss';

/* A basic tooltip from this tutorial:
 * - https://www.w3schools.com/css/css_tooltip.asp
 */
.basictooltip
{
    position: relative;
    display: inline-block;
 }

.basictooltip .basictooltiptext
{
    visibility: hidden;
    width: 150px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
}

.basictooltip:hover .basictooltiptext
{
    visibility: visible;
}
