.row
{
    margin-top: 5px;
}
.col-one-fifth
{
    width: 20%;
}
.largetext
{
    font-size: larger;
}
.valuecolor
{
    color: blue;
}
.highlightcolor
{
    color:green;
}
.errorcolor
{
    color:red;
}

/* Reduce browser text size when the view is reduced, so that text fits */
@media all and (max-width: 992px)
{
    body
    {
        font-size: 0.85em;
    }
}

/* Mobile views also use a smaller heading size */
@media all and (max-width: 768px)
{
    h2
    {
        font-size: 1.5em;
    }
}
